@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* font-family: "Mulish", sans-serif; */
/* font-family: "Inter", sans-serif; */

/* common and reset code start hear */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(255, 84, 0);
    --white-color: rgb(255, 255, 255);
    --head-color: rgb(19, 19, 24);
    --paragraph-color: rgb(90, 90, 93);
}

body {
    margin: 0 auto;
    max-width: 84.313rem;
    font-family: "Mulish", sans-serif;
}

header,
main {
    width: 90%;
    margin: 0 auto;
}

footer {
    width: 100%;
    margin: 0 auto;
}

/* common and reset code ends hear */

/* nav section start hear */
nav {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar {
    display: none;
}

.nav-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.nav-img h3 {
    font-size: 36px;
    font-weight: 800;
    line-height: 45px;
    text-align: center;
}

.nav-img span {
    color: var(--primary-color);
}

.nav-option {
    display: flex;
    gap: 44px;
}

.nav-option a {
    color: rgb(66, 66, 71);
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
}

.hero-banner {
    margin: 0 auto;
    width: 73.125rem;
    height: 31.25rem;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url(../Images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

.hero-banner h1 {
    color: var(--white-color);
    font-size: 64px;
    font-weight: 800;
    line-height: 80px;
    text-align: center;
    margin-bottom: 24px;
}

.hero-banner p {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 48px;
}

.travel-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    padding: 15px;
    backdrop-filter: blur(4px);
}

input,
select,
button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.5);
    background: var(--white-color);
    padding-left: 0.5rem;
    border: none;
    font-size: 16px;
}

input,
select,
button:focus {
    outline: 0;
}

input::placeholder {
    color: rgba(19, 19, 24, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding-left: 0.5rem;
}

.travel-input input:focus {
    outline: 0;
}

button {
    background: var(--primary-color);
    color: var(--white-color);
}

.travel-input button i {
    padding-right: 10px;
}

/* Our Popular Tours section start hear */
.popular-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 53px;
}

.popular-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.popular-text h2,
.destination h2,
.discounts h2,
.choose-us h2 {
    color: var(--head-color);
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
}

.popular-text p,
.destination p,
.choose-us p,
.discounts p,
.popular-text ul li {
    color: var(--paragraph-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.popular-text ul li {
    margin-bottom: 16px;
}

/* Choose Your Destination section start hear */
.destination,
.choose-us,
.discounts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 24px;
    margin-bottom: 100px;
}

.destination p,
.choose-us p,
.discounts p {
    text-align: center;
}

.destination h2,
.choose-us h2,
.discounts h2 {
    text-align: center;
}

.row-1,
.row-2,
.row-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.row-1 img,
.row-2 img,
.row-3 img {
    width: 100%;
    height: 300px;
}

.row-2 {
    grid-template-columns: 0.8fr 1fr 0.7fr;
}

.row-3 {
    grid-template-columns: 0.8fr 1fr;

}

.country-cord {
    position: relative;
}

.country-card {
    position: relative;
}

.country-card p {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--white-color);
    font-size: 24px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

/* Why Choose Us section start hear */
.card {
    width: 573px;
    height: 284px;
    padding: 32px 32px 55px 32px;
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
}

.card img {
    width: 64px;
    height: 64px;
    margin-bottom: 32px;
}

.card h3,
.discount-card .card h3 {
    color: rgb(19, 19, 24);
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    text-align: left;
    margin-bottom: 16px;
}

.card p,
.discount-card .card p {
    color: rgb(90, 90, 93);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.card-container {
    display: flex;
    gap: 24px;
}

#card-2 {
    background: rgba(41, 206, 246, 0.05);
    border: 1px solid rgba(41, 206, 246, 0.2);
}

#card-3 {
    background: rgba(233, 68, 68, 0.05);
    border: 1px solid rgba(233, 68, 68, 0.2);
}

/* Deals & Discounts section start hear */
.discount-card {
    width: 73.125rem;
    height: 31.25rem;
    border-radius: 16px;
    background: url(../Images/discounts.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 56px 56px 55px 535px;
}

.discount-card .card {
    width: 579px;
    height: 389px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    padding: 50px 77px 50px 50px;
}

.icon {
    display: flex;
    gap: 10px;
}

.icon-content {
    display: flex;
    gap: 26px;
}

.icon img {
    width: 19.5px;
    height: 19.5px;
    filter: invert(35%) sepia(67%) saturate(2035%) hue-rotate(0deg) brightness(101%) contrast(109%);
}

.icon p {
    color: var(--paragraph-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

#price {
    color: rgb(255, 84, 0);
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.card button {
    width: 150px;
}

.card02 {
    display: flex;
    flex-direction: row-reverse;
}

/* responsive mobile device */
@media screen and (max-width: 480px) {
    .none {
        display: none;
    }

    body,
    .hero-banner {
        width: 100%;
    }

    .nav-img h1 {
        font-size: 20px;
    }

    .bar {
        display: inline;
    }

    .travel-input {
        flex-direction: column;
        width: 100%;
    }

    .option {
        display: none;
    }

    .popular-container {
        flex-direction: column;
    }

    .popular-img img {
        width: 100%;
        height: 100%;
    }

    .popular-text {
        width: 100%;
    }

    .hero-banner h1 {
        font-size: 30px;
        line-height: 50px;
        margin-bottom: 5px;
    }

    .hero-banner p {
        margin-bottom: 5px;
        padding: 5px;
    }

    input,
    select,
    button {
        width: 85%;
    }

    .travel-input {
        width: 90%;
    }

    .popular-container {
        padding: 10px;
    }

    .row-1,
    .row-2,
    .row-3 {
        grid-template-columns: 1fr;
    }

    .destination h2 {
        font-size: 28px;
    }

    .card {
        width: 100%;
        padding: 10px;
    }

    .card img {
        margin-bottom: 10px;
    }

    .card-container {
        flex-direction: column;
    }

    .discounts h2 {
        font-size: 35px;
    }

    .discount-card {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 187px 16px 16px 16px;
    }

    .icon-content {
        flex-wrap: wrap;
        row-gap: 0;
    }

    .discount-card .card {
        width: 303px;
        height: 330px;
        padding: 24px;
        margin-bottom: 20px;
    }

    .discount-card h3 {
        margin-bottom: 0;
    }

    .discount-card p {
        margin-top: 0;
        margin-bottom: 0;
    }

    .discount-card button {
        margin-top: 0;
        margin-bottom: 0;
    }

    #pra {
        display: none;
    }
}